# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains unit test configs and visual studio code prefs.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will automatically add this build folder
/android/app/build/
/android/build/

# iOS
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/Flutter/flutter_assets/
/ios/Flutter/flutter_export_environment.sh
/ios/Pods/
/ios/.symlinks/
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
xcuserdata/

# Web
/web/build/

# macOS
/macos/Flutter/GeneratedPluginRegistrant.swift
/macos/Flutter/ephemeral/
/macos/Pods/

# Windows
/windows/flutter/ephemeral/
/windows/flutter/generated_plugin_registrant.cc

# Linux
/linux/flutter/ephemeral/
/linux/flutter/generated_plugin_registrant.cc

# ---------------------------------------------------
# もし手動でマスタCSVなどをプロジェクトフォルダ内に
# テスト用として置いている場合は、それも除外しておきます
# ---------------------------------------------------
*.csv

lib/firebase_options.dart